body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif !important;
}

h1 {
    font-weight: bolder;
}

.col {
    min-width: 280px !important;
}

.card {
    min-width: 200px !important;
}